*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif
}
/*NAVBAR*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #fff;
    color: #fff;
}
.nav-text {
    font-family: "Poppins",Arial, sans-serif;
    line-height: 1.3;
    text-transform: uppercase;
  
}
.uni {
    color:#8f6a06; 
    font-size: 18px;
    font-weight: 650;
    letter-spacing: 1.5px;    

}
.society{
    color:#280550; 
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
    
}
.navleft {
    display: flex;
    align-items: center;
    gap : 10px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 20px;
    transform: scale(1.1);
}

.navright {
    font-size: 24px;
    cursor: pointer;
    color: #333;
    user-select: none;
    position:fixed;
    top:20px;
    right:20px;
    z-index:1100;
}
.nav-menu {
    display: flex;
    list-style: none;
    background:#fff;
    position:fixed;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease;
    z-index:1000;
    padding-top: 80px;
}
.nav-menu ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
.nav-menu li{
    font-size: 18px;
    margin:10px 0;
}
.nav-menu.active {
    display: block;
    left: 0;
}
/*SLIDESHOW*/
.slideshow{
    position:relative;
    width:100%;
    height:80vh;
    overflow:hidden;
}
.slide{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
    transition: opacity 1s ease-in-out;
}
.slide.active{
    opacity:1;
}
.slide img{
    width:100%;
    height:100%;
    object-fit:cover;
}
/*dark ovwerlay*/
.slide::after{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.5);
}
/*slide-text*/
.slide-text{
    position:absolute;
    top:50%;
    left:10%;
    transform:translateY(-50%);
    color: white;
    z-index:2;
    max-width: 500px;
}
.slide-text h1{
    font-size:40px;
    margin-bottom: 10px;
}
.slide-text p{
    font-size:18px;
    line-height:1.5;
}